# Загрузка Pandas и очистка данных

In [4]:
#import data
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics

#function to change str into list
def clean_name(str_val):
    str_val = str_val.strip('[]') 
    str_val = str_val.replace('\'', '')
    str_val = str.val.split(', ')
    return str_val

#function to find type of cuisine
def find_item(cell):
    if item in cell:
        return 1
    return 0

df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df.sample(3)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
29912,id_636,Stockholm,['American'],637.0,4.5,$$ - $$$,27.0,"[['Great burgers', 'Good burgers'], ['11/30/20...",/Restaurant_Review-g189852-d12594456-Reviews-B...,d12594456
23358,id_681,Brussels,"['Italian', 'Mediterranean', 'European', 'Pizza']",682.0,4.5,$$ - $$$,30.0,"[['Delicious and authentic Italian pizza', 'Ex...",/Restaurant_Review-g188644-d4063724-Reviews-Sa...,d4063724
32976,id_121,Brussels,"['French', 'Belgian', 'European']",122.0,4.0,$$ - $$$,130.0,"[['Nice and traditional', 'a nice discovery !'...",/Restaurant_Review-g188644-d694650-Reviews-Au_...,d694650

In [6]:
#rename columns
df.rename(columns={'Cuisine Style': 'Cuisine_Style', 'Price Range': 'Price_Range', 'Number of Reviews': 'Number_of_Reviews'}, inplace=True)
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [7]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки

for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))
df.info()

Restaurant_id - 0%
City - 0%
Cuisine_Style - 23%
Ranking - 0%
Rating - 0%
Price_Range - 35%
Number_of_Reviews - 6%
Reviews - 0%
URL_TA - 0%
ID_TA - 0%
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine_Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price_Range        26114 non-null  object
 6   Number_of_Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 2.0+ MB

In [22]:
#changing missing cuisine styles to 'unknown'
df.Cuisine_Style = df.Cuisine_Style.fillna('unknown')
df.Price_Range = df.Price_Range.fillna('unknown')

#evaluating 'number of reviews' column
df.Number_of_Reviews.describe()

count       40000
unique       1460
top       unknown
freq         2543
Name: Number_of_Reviews, dtype: object

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [ ]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

In [ ]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [ ]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [21]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

NameError: name 'y_test' is not defined

In [23]:
#evaluating missing reviews
df.Number_of_Reviews = df.Number_of_Reviews.fillna('unknown')
df[df.Number_of_Reviews == 'unknown']

,Restaurant_id,City,Cuisine_Style,Ranking,Rating,Price_Range,Number_of_Reviews,Reviews,URL_TA,ID_TA
8,id_2690,Vienna,unknown,2692.0,4.0,unknown,unknown,"[[], []]",/Restaurant_Review-g190454-d12845029-Reviews-G...,d12845029
21,id_5844,Madrid,unknown,5847.0,4.0,unknown,unknown,"[[], []]",/Restaurant_Review-g187514-d10058810-Reviews-B...,d10058810
32,id_1327,Budapest,unknown,1328.0,5.0,unknown,unknown,"[['Absolutely amazing, tasty, fresh, cheap Ch....",/Restaurant_Review-g274887-d8791087-Reviews-Bu...,d8791087
102,id_1409,Budapest,"['French', 'European', 'Hungarian']",1410.0,5.0,unknown,unknown,"[[], []]",/Restaurant_Review-g274887-d13197631-Reviews-L...,d13197631
108,id_2047,Prague,"['Italian', 'Mediterranean']",2050.0,5.0,$$ - $$$,unknown,"[[], []]",/Restaurant_Review-g274707-d12243659-Reviews-T...,d12243659
...,...,...,...,...,...,...,...,...,...,...
39965,id_5720,Rome,unknown,5722.0,5.0,unknown,unknown,"[[], []]",/Restaurant_Review-g187791-d793376-Reviews-Wes...,d793376
39972,id_2009,Prague,"['Cafe', 'Delicatessen', 'Healthy', 'Wine Bar'...",2012.0,5.0,$,unknown,"[['Personal expirence'], ['10/27/2017']]",/Restaurant_Review-g274707-d12981295-Reviews-M...,d12981295
39986,id_7274,Madrid,unknown,7279.0,3.0,unknown,unknown,"[[], []]",/Restaurant_Review-g187514-d12182212-Reviews-C...,d12182212
39988,id_4968,Berlin,unknown,4970.0,4.0,unknown,unknown,"[[], []]",/Restaurant_Review-g187323-d7761701-Reviews-Ar...,d7761701
39989,id_8887,London,['International'],8896.0,5.0,unknown,unknown,"[['I love this place!'], ['08/24/2015']]",/Restaurant_Review-g186338-d5550626-Reviews-Th...,d5550626

In [24]:
for i in range(0,len(df)):
    string = df.Reviews[i]
    #print (df.Number_of_Reviews[i])
    #print (df.Reviews[i])
    if df.Number_of_Reviews[i] == 'unknown':
        if len(string) < 9:
            df.Number_of_Reviews[i] = df.Number_of_Reviews[i].replace('unknown','0')
        else:
            df.Number_of_Reviews[i] = df.Number_of_Reviews[i].replace('unknown','1')

df.Number_of_Reviews = df.Number_of_Reviews.apply(lambda x: int(x))

<ipython-input-24-268c1c066504>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Number_of_Reviews[i] = df.Number_of_Reviews[i].replace('unknown','0')
<ipython-input-24-268c1c066504>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Number_of_Reviews[i] = df.Number_of_Reviews[i].replace('unknown','1')

In [25]:
def clean_name(str_val):
    str_val = str_val.strip('[]') 
    str_val = str_val.replace('\'', '')
    str_val = str.val.split(', ')
    return str_val

In [3]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df.City.value_counts() #cities where the restaurants are located

London        5757
Paris         4897
Madrid        3108
Barcelona     2734
Berlin        2155
Milan         2133
Rome          2078
Prague        1443
Lisbon        1300
Vienna        1166
Amsterdam     1086
Brussels      1060
Hamburg        949
Munich         893
Lyon           892
Stockholm      820
Budapest       816
Warsaw         727
Dublin         673
Copenhagen     659
Athens         628
Edinburgh      596
Zurich         538
Oporto         513
Geneva         481
Krakow         443
Oslo           385
Helsinki       376
Bratislava     301
Luxembourg     210
Ljubljana      183
Name: City, dtype: int64

In [4]:
len(df.City.unique()) #number of cities where the restaurants are located

31

In [5]:
df = pd.get_dummies(df, columns = ['City'])

In [8]:
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df['Price Range'].unique()

array(['$$ - $$$', nan, '$$$$', '$'], dtype=object)

In [11]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
dftest = df[df.columns[3:5]].copy()
dftest = dftest.loc[dftest['Price Range'] != 'unknown']
dftest.Price_Range = dftest.Price_Range.replace('$','1') 
dftest.Price_Range = dftest.Price_Range.replace('$$ - $$$','2')
dftest.Price_Range = dftest.Price_Range.replace('$$$$','3')

dftest.Price_Range = dftest.Price_Range.apply(lambda x: int(x)) 

ar1 = dftest.Rating # finding correlation
ar2 = dftest.Price_Range
print(np.corrcoef(ar1,ar2))

KeyError: 'Price Range'

In [12]:
dftest2 = pd.get_dummies(df, columns = ['Price Range']).copy()

In [18]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
Cuisines = set() 
for i in df['Cuisine Style']:
    for j in i:
        Cuisines.add(j)
len(Cuisines)

TypeError: 'float' object is not iterable

In [25]:
Cuisines_dct = {}  #creating dict for cuisines
for i in Cuisines:  
    Cuisines_dct[i] = 0 
for c in df['Cuisine Style']:  
    for j in c:
        Cuisines_dct[j] += 1  

dftest3 = pd.DataFrame.from_dict(Cuisines_dct, columns=['Count'], orient='index')
dftest3 = dftest3[dftest3['Count'] > 200] 
dftest3.sort_values(by = ['Count'], ascending = False)

for item in dftest3.index:
    df[item] = df.Cuisine_Style.apply(find_item)
    
df.Cuisine_Style = df.Cuisine_Style.apply(len)

df

TypeError: 'float' object is not iterable

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   Cuisine Style      30717 non-null  object
 2   Ranking            40000 non-null  float64
 3   Rating             40000 non-null  float64
 4   Number of Reviews  37457 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.2+ MB

In [33]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df.drop(['City', 'Price Range', 'Reviews', 'URL_TA', 'ID_TA'], inplace = True, axis = 1)

In [34]:
df

,Restaurant_id,Cuisine Style,Ranking,Rating,Number of Reviews
0,id_5569,"['European', 'French', 'International']",5570.0,3.5,194.0
1,id_1535,NaN,1537.0,4.0,10.0
2,id_352,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,688.0
3,id_3456,NaN,3458.0,5.0,3.0
4,id_615,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,84.0
...,...,...,...,...,...
39995,id_499,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,79.0
39996,id_6340,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,542.0
39997,id_1649,"['Japanese', 'Sushi']",1652.0,4.5,4.0
39998,id_640,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,70.0
39999,id_4824,['Spanish'],4827.0,3.0,260.0

In [37]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df['Rating']

# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [38]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

ValueError: could not convert string to float: 'Athens'

In [39]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

NameError: name 'y_pred' is not defined

In [43]:
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df['Cuisine Style'].value_counts()

['Italian']                                                                                                         1032
['French']                                                                                                           805
['Spanish']                                                                                                          695
['French', 'European']                                                                                               405
['Cafe']                                                                                                             403
                                                                                                                    ...
['Italian', 'Pizza', 'Halal']                                                                                          1
['Italian', 'Pizza', 'European', 'Mediterranean', 'Gluten Free Options', 'Vegetarian Friendly', 'Vegan Options']       1
['Italian', 'Cafe', 'Mediterranean', 'British', 'Scottish']                                                            1
['Italian', 'Bar', 'Pub', 'Wine Bar']                                                                                  1
['Portuguese', 'Mediterranean', 'Vegetarian Friendly']                                                                 1
Name: Cuisine Style, Length: 9007, dtype: int64

In [45]:
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df['Cuisine Style'].apply(len)

TypeError: object of type 'float' has no len()

In [46]:
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df.rename(columns={'Cuisine Style':'cuisine_style'}, inplace=True)
def clean_name(str_val):
 
    if pd.isna(str_val): return ["Unknown"]
    str_val = str_val.strip('[]') 
    str_val = str_val.replace("\'",'') 
    str_val = str_val.split(", ") 
    return str_val

df["cuisine_style"] = df["cuisine_style"].apply(clean_name)
df["cuisine_style"].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Unknown]                                                                                                      9283
[Italian]                                                                                                      1032
[French]                                                                                                        805
[Spanish]                                                                                                       695
[French, European]                                                                                              405
                                                                                                               ...
[Italian, Pizza, European, International, Czech, Central European, Vegetarian Friendly]                           1
[Japanese, Asian, Soups, Sushi, Vegetarian Friendly, Gluten Free Options, Vegan Options]                          1
[American, Fast Food, Grill, Contemporary, Vegetarian Friendly, Gluten Free Options]                              1
[International, European, Scandinavian, Norwegian, Vegetarian Friendly, Vegan Options, Gluten Free Options]       1
[Belgian, European, International, Fusion]                                                                        1
Name: cuisine_style, Length: 9008, dtype: int64

In [49]:
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
def cuisine_count(x):
    try:
        return len(x.split(','))
    except:
        return x
df['Cuisine_Count'] = df.['Cuisine Style'].apply(cuisine_count)

SyntaxError: invalid syntax (<ipython-input-49-9f1481a1137a>, line 7)

In [52]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
df['review_year'] = df.Reviews.apply(lambda x:datetime.datetime.strptime(ast.literal_eval(str(x).replace('nan', '0'))[1][0], '%m/%d/%Y').year if x!='[[], [[]' else None')
df['review_year']

SyntaxError: EOL while scanning string literal (<ipython-input-52-f1a665dde1c5>, line 9)

In [57]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
def deltadays(ct):
    if len(ct)>=2:
        return dt.datetime.strptime(ct[0][0], '%m/%d/%Y') - dt.datetime.strptime(ct[0][len(ct1-1)], '%m/%d/%Y')
    else:
        return dt.timedelta(0)
df['Reviews']

0        [['Good food at your doorstep', 'A good hotel ...
1        [['Unique cuisine', 'Delicious Nepalese food']...
2        [['Catch up with friends', 'Not exceptional'],...
3                                                 [[], []]
4        [['Best place to try a Bavarian food', 'Nice b...
                               ...
39995    [['The real Italian experience!', 'Wonderful f...
39996    [['Parisian atmosphere', 'Bit pricey but inter...
39997    [['Good by swedish standards', 'A hidden jewel...
39998    [['Underground restaurant', 'Oldest Restaurant...
39999    [['Average', 'Nice an informal'], ['01/31/2016...
Name: Reviews, Length: 40000, dtype: object

In [60]:
import pandas as pd
import numpy as np
import re 
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor 
from sklearn import metrics
df = pd.read_csv('C:/Users/olga.QCT/.jupyter/main_task_new.csv')
pattern = re.compile('\d+\/\d+\/\d+')
df['reviews_date'] = df['Reviews'].apply(lambda x: pattern.findall(x))
def date_of_last_reviews (x):
    if len(x) > 0:
        return x[0]
    else:
        return 0
df['date_of_last_reviews'] = df['reviews_date'].apply(date_of_last_reviews)
df['date_of_last_reviews'] = pd.to_datetime(df['date_of_last_reviews']).dt.date
df["reviews_date"] = df["reviews_date"].apply(
    lambda y: [0, 0] if len(y) == 0 else y)
df['date_of_last_reviews'] = df['date_of_last_reviews'].apply(
    lambda z: [0, 0] if (z).year == 1970 else z)